* {
  margin: 0;
  padding: 0;
}

.ex-item {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 90px;
  cursor: pointer;;
  border: 3px solid purple;
  box-shadow: 2px -2px 0 -3px;
  padding: 10px 10px;
  //margin: 20px;
}

.nankle-rdl-is-dragging {
  opacity: 0.2;
}

.demo-img {
  width: 200px;
  height: 200px;
}

.demo {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.apps {
  position: relative;
  display: flex;
  left: 200px;
  width: 600px;
}
